
@{
    ViewBag.Title = "AddStudent";
}
<div class="container">
    <div>
        @Html.Partial("_Header")
    </div>
    @using (Html.BeginForm())
    {
        @Html.Label("Student Id: "); <br />
        @Html.TextBox("Sid:"); <br />
        @Html.Label("Name: "); <br />
        @Html.TextBox("Name"); <br />
        @Html.Label("Class: ");
        List<int> li = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
        SelectList items = new SelectList(li);
        @Html.DropDownList("Class", items, "-Select Class-"); <br />
        @Html.Label("Gender: ");
        @Html.RadioButton("Gender", "Male"); @:Male
        @Html.RadioButton("Gender", "Female"); @:Female <br />
        @Html.Label("Fees: "); <br />
        @Html.TextBox("Fees"); <br />
        @Html.Label("Address: "); <br />
        @Html.TextArea("Address", "", 3, 21, new { });
        <br /><br />
        <input type="submit" class="btn btn-success" value="Save" />
        <input type="reset" class="btn btn-danger" value="Reset" />
    }

</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />